main {
    display: flex;
    /* flex-flow: row wrap; */

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    margin: 20px;
    padding: 10px;
    /* background-color: grey; */
    /* flex-shrink: 0; */
}

.column {
    padding: 15px;
    margin: 30px;
    background-color: ivory;
    text-align: justify;
    text-indent: 20px;
    box-shadow: 5px 5px 2px 1px rgba(110, 100, 100, .2);
    border: 1px solid gray;
    border-radius: 5px;
    flex-basis: 250px;
}


